.login-signup--page {
    height: 99vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.login-signup--box {
    background-color: var(--color-light);
    padding: 2.4em;
    border-radius: 0.8em;

    width: 100%;
    max-width: 480px;

    /* box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1); */
}

.login-signup--form {
    margin-top: 2em;

    display: flex;
    flex-direction: column;
    gap: 0.4rem;


    /* outline: 1px solid black; */
}

.form--box {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.label--box {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}

.label--box label {
    font-size: 0.8rem;
    color: #333333;
}

.label--box input {
    padding: 0.7rem 0.75rem;
    border-radius: 0.5em;
    border: 1px solid rgb(217, 217, 217);
}

.label--box input::placeholder {
    color: rgba(115, 115, 115, 0.752);
}

.password--info {
    font-size: 0.8rem;
}